@charset "UTF-8";
/* CSS Document */

#myNav {
	background-color: aqua;
	font-weight: bolder;
	margin-bottom: 0;
	border-radius: 0;
}

#active {
	background-color: darkturquoise;
}

.jumbotron {
	text-align: center;
	font-weight: bolder;
	font-size: 30px;
}

#selectContinent {
	width: 90%;
	height: 100%;
}

#Continent {
	width: 100%;
}
 
div {
	border-radius: 0;
	margin-top: 0;
	margin-bottom: 0;
}

#map {
	width: 100%;
}

#myFooter {
	background-color: aqua;
	font-weight: bolder;
	text-align: center;
	padding: 10px;
}

/* ################################## SACADO DE W3S #################################### */

.modal {
    display: none; /* Se encuentra oculto por defecto */
    padding-top: 100px; /* Posición del modal */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilito scroll si se necesita, si no no se utiliza */
    background-color: rgb(0,0,0); /* Color de fondo */
    background-color: rgba(0,0,0,0.4); /* Opacidad de la pagina html de debajo del modal */
}

/*Contenido del modal*/
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* El boton de cerrar */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ########################################################################################### */

#link {
    padding: 30px;
}

#container {
    padding-left: 20px;
    width: auto;
}

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

/* ############# SACADO DE INSPECCIONAR CODIGO FUENTE EN VALORACION DE ESTRELLAS ############### */
#form p {
  text-align: center;
}

#form label {
  font-size: 1000px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
  width: 20px;
  font-size: 30px;
  padding: 15px;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

/* ########################################################################################### */